# Python para an√°lise de dados (Pandas)

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv("datasets/gapminder.csv", error_bad_lines=False)

/var/folders/c8/rpp_5n7s7vv6shl386x36lp00000gn/T/ipykernel_37367/777317714.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("datasets/gapminder.csv", error_bad_lines=False)
b'Skipping line 665: expected 1 fields, saw 2\nSkipping line 666: expected 1 fields, saw 2\nSkipping line 667: expected 1 fields, saw 2\nSkipping line 668: expected 1 fields, saw 2\nSkipping line 669: expected 1 fields, saw 2\nSkipping line 670: expected 1 fields, saw 2\nSkipping line 671: expected 1 fields, saw 2\nSkipping line 672: expected 1 fields, saw 2\nSkipping line 673: expected 1 fields, saw 2\nSkipping line 674: expected 1 fields, saw 2\nSkipping line 675: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 2\nSkipping line 677: expected 1 fields, saw 2\nSkipping line 678: expected 1 fields, saw 2\nSkipping line 679: expected 1 fields, saw 2\nSkipping line 680: expected 1 fields, saw 2\nSkipping line 681: expected 1 fields, saw 2\nSkipping line 682: expected 1 fields, saw 2\nSkipping line 683: expected 1 fields, saw 2\nSkipping line 684: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 2\nSkipping line 686: expected 1 fields, saw 2\nSkipping line 687: expected 1 fields, saw 2\nSkipping line 688: expected 1 fields, saw 2\nSkipping line 1275: expected 1 fields, saw 2\nSkipping line 1276: expected 1 fields, saw 2\nSkipping line 1277: expected 1 fields, saw 2\nSkipping line 1278: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1280: expected 1 fields, saw 2\nSkipping line 1281: expected 1 fields, saw 2\nSkipping line 1282: expected 1 fields, saw 2\nSkipping line 1283: expected 1 fields, saw 2\nSkipping line 1284: expected 1 fields, saw 2\nSkipping line 1285: expected 1 fields, saw 2\nSkipping line 1286: expected 1 fields, saw 2\nSkipping line 1629: expected 1 fields, saw 2\nSkipping line 1630: expected 1 fields, saw 2\nSkipping line 1631: expected 1 fields, saw 2\nSkipping line 1632: expected 1 fields, saw 2\nSkipping line 1633: expected 1 fields, saw 2\nSkipping line 1634: expected 1 fields, saw 2\nSkipping line 1635: expected 1 fields, saw 2\nSkipping line 1636: expected 1 fields, saw 2\nSkipping line 1637: expected 1 fields, saw 2\nSkipping line 1638: expected 1 fields, saw 2\nSkipping line 1639: expected 1 fields, saw 2\nSkipping line 1640: expected 1 fields, saw 2\nSkipping line 1641: expected 1 fields, saw 2\nSkipping line 1642: expected 1 fields, saw 2\nSkipping line 1643: expected 1 fields, saw 2\nSkipping line 1644: expected 1 fields, saw 2\nSkipping line 1645: expected 1 fields, saw 2\nSkipping line 1646: expected 1 fields, saw 2\nSkipping line 1647: expected 1 fields, saw 2\nSkipping line 1648: expected 1 fields, saw 2\nSkipping line 1649: expected 1 fields, saw 2\nSkipping line 1650: expected 1 fields, saw 2\nSkipping line 1651: expected 1 fields, saw 2\nSkipping line 1652: expected 1 fields, saw 2\nSkipping line 1823: expected 1 fields, saw 2\nSkipping line 1824: expected 1 fields, saw 2\nSkipping line 1825: expected 1 fields, saw 2\nSkipping line 1826: expected 1 fields, saw 2\nSkipping line 1827: expected 1 fields, saw 2\nSkipping line 1828: expected 1 fields, saw 2\nSkipping line 1829: expected 1 fields, saw 2\nSkipping line 1830: expected 1 fields, saw 2\nSkipping line 1935: expected 1 fields, saw 2\nSkipping line 1936: expected 1 fields, saw 2\nSkipping line 1937: expected 1 fields, saw 2\nSkipping line 1938: expected 1 fields, saw 2\nSkipping line 1939: expected 1 fields, saw 2\nSkipping line 1940: expected 1 fields, saw 2\nSkipping line 1941: expected 1 fields, saw 2\nSkipping line 1942: expected 1 fields, saw 2\nSkipping line 3278: expected 1 fields, saw 2\nSkipping line 3279: expected 1 fields, saw 2\nSkipping line 3280: expected 1 fields, saw 2\nSkipping line 3281: expected 1 fields, saw 2\nSkipping line 3282: expected 1 fields, saw 2\nSkipping line 3283: expected 1 fields, saw 2\nSkipping line 3284: expected 1 fields, saw 2\nSkipping line 3285: expected 1 fields, saw 2\nSkipping line 3286: expected 1 fields, saw 2\nSkipping line 3287: expected 1 fields, saw 2\nSkipping line 3288: expected 1 fields, saw 2\nSkipping line 3289: expected 1 fields, saw 2\n'

In [10]:
df.head()

        country;continent;year;lifeExp;pop;gdpPercap
0   Afghanistan;Asia;1952;28.801;8425333;779.4453145
1   Afghanistan;Asia;1957;30.332;9240934;820.8530296
2  Afghanistan;Asia;1962;31.997;10267083;853.1007...
3   Afghanistan;Asia;1967;34.02;11537966;836.1971382
4  Afghanistan;Asia;1972;36.088;13079460;739.9811...

In [10]:
df = df.rename(columns={"country":"Pais", 
                   "continent":"Continente", 
                   "year":"Ano", 
                   "lifeExp":"Expectativa de Vida", 
                   "pop": "Pop Total", 
                   "gdpPercap":"PIB"})

In [11]:
df.head(10)

          Pais Continente   Ano  Expectativa de Vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [18]:
df.tail()

          Pais Continente   Ano  Expectativa de Vida  Pop Total         PIB
1699  Zimbabwe     Africa  1987               62.351    9216418  706.157306
1700  Zimbabwe     Africa  1992               60.377   10704340  693.420786
1701  Zimbabwe     Africa  1997               46.809   11404948  792.449960
1702  Zimbabwe     Africa  2002               39.989   11926563  672.038623
1703  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [13]:
df.shape

(1704, 6)

In [14]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de Vida', 'Pop Total', 'PIB'], dtype='object')

In [17]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de Vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [20]:
df.describe()

              Ano  Expectativa de Vida     Pop Total            PIB
count  1704.00000          1704.000000  1.704000e+03    1704.000000
mean   1979.50000            59.474439  2.960121e+07    7215.327081
std      17.26533            12.917107  1.061579e+08    9857.454543
min    1952.00000            23.599000  6.001100e+04     241.165876
25%    1965.75000            48.198000  2.793664e+06    1202.060309
50%    1979.50000            60.712500  7.023596e+06    3531.846988
75%    1993.25000            70.845500  1.958522e+07    9325.462346
max    2007.00000            82.603000  1.318683e+09  113523.132900

In [21]:
#Retornando valores dos continentes registrados na base
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [22]:
#Retornando os valores da Ociania
ociania = df.loc[df["Continente"] == "Oceania"]
ociania.head()

         Pais Continente   Ano  Expectativa de Vida  Pop Total          PIB
60  Australia    Oceania  1952                69.12    8691212  10039.59564
61  Australia    Oceania  1957                70.33    9712569  10949.64959
62  Australia    Oceania  1962                70.93   10794968  12217.22686
63  Australia    Oceania  1967                71.10   11872264  14526.12465
64  Australia    Oceania  1972                71.93   13177000  16788.62948

In [25]:
#Agrupando dados por continente: quantidade de paises por continente
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: Pais, dtype: int64

In [26]:
#Agrupando dados por pais: expectativa de vida media
df.groupby("Ano")["Expectativa de Vida"].mean()

Ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: Expectativa de Vida, dtype: float64

In [27]:
#PIB m√©dio
df["PIB"].mean()

7215.327081212149

In [28]:
#Soma do PIB
df["PIB"].sum()

12294917.346385501